/* Editor. */
#editor-body {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#editor-body:focus {
    border: none;
    outline: none;
}

#editor-body p, div, br {
    margin: 0;
    line-height: 1;
}

#editor-body blockquote {
    border-left: 2px solid #aaaaaa;
    padding: 5px;
}

/* Editor menubar. */
#editor-menubar {
    display: flex;
    gap: 5px;
    padding: 5px;
    flex-wrap: wrap;
    align-items: center;
}

#editor-menubar > .editor-menubar-spacer {
    height: 20px;
    width: 1px;
    border-radius: 1px;
    background-color: #aaaaaa;
}

#editor-menubar > button,
#editor-menubar #editor-menubar-option-fore-color button,
#editor-menubar #editor-menubar-option-back-color button,
#editor-menubar #editor-menubar-option-link button,
#editor-menubar #editor-menubar-option-image button {
    min-width: 30px;
    min-height: 30px;
    background: none;
    border: none;
    border-radius: 5px;
}

#editor-menubar > button:hover,
#editor-menubar > button:focus,
#editor-menubar #editor-menubar-option-fore-color button:hover,
#editor-menubar #editor-menubar-option-fore-color button:focus,
#editor-menubar #editor-menubar-option-back-color button:hover,
#editor-menubar #editor-menubar-option-back-color button:focus,
#editor-menubar #editor-menubar-option-link button:hover,
#editor-menubar #editor-menubar-option-link button:focus,
#editor-menubar #editor-menubar-option-image button:hover,
#editor-menubar #editor-menubar-option-image button:focus {
    background: #e0e0e0;
}

#editor-menubar > select {
    min-height: 30px;
    padding: 5px 35px 5px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: white;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
}

#editor-menubar > select:hover,
#editor-menubar > select:focus {
    background-color: #e0e0e0;
}

#editor-menubar > .editor-pressed {
    background: #cee2ff;
}

#editor-menubar > #editor-menubar-option-bold { font-weight: bold; }

#editor-menubar > #editor-menubar-option-italic { font-style: italic; }

#editor-menubar > #editor-menubar-option-underline { text-decoration: underline; }

#editor-menubar > #editor-menubar-option-strikethrough { text-decoration: line-through; }

#editor-menubar > #editor-menubar-option-fore-color .editor-menubar-option-fore-color-button-container,
#editor-menubar > #editor-menubar-option-back-color .editor-menubar-option-back-color-button-container {
    display: flex;
}

#editor-menubar > #editor-menubar-option-fore-color > .editor-menubar-option-fore-color-button-container > .editor-menubar-option-fore-color-button,
#editor-menubar > #editor-menubar-option-back-color > .editor-menubar-option-back-color-button-container > .editor-menubar-option-back-color-button {
    text-decoration: underline;
}

#editor-menubar > #editor-menubar-option-fore-color > .editor-menubar-option-fore-color-button-container > .editor-menubar-option-fore-color-button,
#editor-menubar > #editor-menubar-option-back-color > .editor-menubar-option-back-color-button-container > .editor-menubar-option-back-color-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#editor-menubar > #editor-menubar-option-fore-color > .editor-menubar-option-fore-color-button-container > .editor-dropdown-button > .editor-color-picker-button,
#editor-menubar > #editor-menubar-option-back-color > .editor-menubar-option-back-color-button-container > .editor-dropdown-button > .editor-color-picker-button {
    min-width: 10px;
    width: 10px;
    font-size: 10px;
    text-align: center;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}