/* Custom UI. */

/* Dropdown. */
.editor-dropdown-body {
    position: fixed;
    background-color: white;
    border: 1px solid silver;
    border-radius: 2px;
    z-index: 2;
    padding: 7px;
    display: none;
    box-shadow: 0px 10px 30px 10px rgba(140, 150, 160, 0.15);
}

.editor-dropdown-show {
    display: block;
}

/* Number input. */
.editor-number-input {
    background-color: #f7f7f7;
    border-radius: 5px;
}

.editor-number-input :first-child {
    border-radius: 5px 0 0 5px;
}

.editor-number-input :last-child {
    border-radius: 0 5px 5px 0;
}

.editor-number-input-input[type="number"] {
    background-color: #f7f7f7;
    border: none;
    outline: none;
    height: 100%;
    padding: 0;
}

.editor-number-input-input[type="number"]:focus,
.editor-number-input-input[type="number"]:hover {
    background: #e0e0e0;
    border: none;
    outline: none;
}

.editor-number-input-input[type="number"]::-webkit-inner-spin-button,
.editor-number-input-input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.editor-number-input-input[type="number"] {
    -moz-appearance: textfield;
    background-color: #f7f7f7;
}

.editor-number-input-button {
    min-width: 20px;
    min-height: 30px;
    background: none;
    border: none;
}

.editor-number-input-button:hover {
    background: #e0e0e0;
}

/* Color input. */
.editor-color-input-body {
    display: flex;
    gap: 10px;
}

.editor-color-picker-primary-thumb {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 0;
    border: 1px solid black;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
}