/* Custom UI. */

/* Dropdown. */
.editor-dropdown {
    position: relative;
}

.editor-dropdown-body {
    position: absolute;
    background-color: white;
    border: 1px solid silver;
    border-radius: 2px;
    z-index: 2;
    padding: 7px;
    display: none;
    box-shadow: 0px 10px 30px 10px rgba(140, 150, 160, 0.15);
}

.editor-dropdown-show {
    display: block;
}

/* Number input. */
.editor-number-input {
    background-color: #f7f7f7;
    border-radius: 5px;
}

.editor-number-input :first-child {
    border-radius: 5px 0 0 5px;
}

.editor-number-input :last-child {
    border-radius: 0 5px 5px 0;
}

.editor-number-input-input[type="number"] {
    background-color: #f7f7f7;
    border: none;
    outline: none;
    height: 100%;
    padding: 0;
}

.editor-number-input-input[type="number"]:focus,
.editor-number-input-input[type="number"]:hover {
    background: #e0e0e0;
    border: none;
    outline: none;
}

.editor-number-input-input[type="number"]::-webkit-inner-spin-button,
.editor-number-input-input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.editor-number-input-input[type="number"] {
    -moz-appearance: textfield;
    background-color: #f7f7f7;
}

.editor-number-input-button {
    min-width: 20px;
    min-height: 30px;
    background: none;
    border: none;
}

.editor-number-input-button:hover {
    background: #e0e0e0;
}

/* Color input. */
.editor-color-input-body {
    display: flex;
    gap: 10px;
}

.editor-color-picker-primary-container {
    position: relative;
    user-select: none;
}

.editor-color-picker-primary-canvas {
    user-select: none;
}

.editor-color-picker-primary-thumb {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 0;
    border: 1px solid black;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
}

.editor-color-picker-hue-container {
    position: relative;
}

.editor-color-picker-hue-slider {
    position: absolute;
    width: 100%;
    height: 0px;
    z-index: 0;
    border: 1px solid black;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
    box-sizing: border-box;
}

.editor-color-picker-rgb-form-input-container {
    width: 80px;
    display: flex;
}

.editor-color-picker-rgb-form {
    display: flex;
    flex-direction: column;
}

.editor-color-picker-rgb-form-color {
    width: 100%;
    height: 40px;
    flex-grow: 1;
    border: 1px solid black;
    box-sizing: border-box;
}

.editor-color-picker-rgb-form-input-label {
    display: block;
    width: 15px;
}

.editor-color-picker-rgb-form-input-container > input {
    display: block;
    flex-grow: 1;
    height: 20px;
    border: 1px solid black;
}

.editor-color-picker-rgb-form-input-container > input[type="number"]::-webkit-inner-spin-button,
.editor-color-picker-rgb-form-input-container > input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.editor-color-picker-rgb-form-input-container > input[type="number"] {
    -moz-appearance: textfield;
    background-color: #f7f7f7;
}

/* Image editing UI. */
#editor-image-editing-ui > .resize-box {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #408cff;
    display: none;
    z-index: 5;
}

#editor-image-editing-ui > .resize-box-top-right {
    cursor: nesw-resize;
}

#editor-image-editing-ui > .resize-box-top-left {
    cursor: nwse-resize;
}

#editor-image-editing-ui > .resize-box-bottom-right {
    cursor: nwse-resize;
}

#editor-image-editing-ui > .resize-box-bottom-left {
    cursor: nesw-resize;
}

#editor-image-editing-ui > .resize-bar {
    position: absolute;
    background-color: #70a9ff;
    display: none;
}

#editor-image-editing-ui > .resize-bar-horizontal {
    height: 2px;
}

#editor-image-editing-ui > .resize-bar-vertical {
    width: 2px;
}