/* Mimir core styles. */

@import url("./ui.css");

#mimir-body-container {
    overflow-y: auto;
}

#mimir-body {
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid silver;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#mimir-body:focus {
    outline: none;
}

#mimir-body p, div, br {
    margin: 0;
    line-height: 1;
}

#mimir-body blockquote {
    border-left: 2px solid #aaaaaa;
    padding: 5px;
}

/* Editor menubar. */
#mimir-menubar {
    display: flex;
    gap: 5px;
    padding: 5px;
    flex-wrap: wrap;
    align-items: center;

    --ui-font-family: Segoe UI, Arial, Helvetica, sans-serif;
}

#mimir-menubar > .mimir-menubar-spacer {
    height: 20px;
    width: 1px;
    border-radius: 1px;
    background-color: #aaaaaa;
}

#mimir-menubar > button,
#mimir-menubar .mimir-menubar-option-fore-color-button-container button,
#mimir-menubar .mimir-menubar-option-back-color-button-container button,
#mimir-menubar .mimir-menubar-option-link-button,
#mimir-menubar .mimir-menubar-option-image-button {
    min-width: 30px;
    min-height: 30px;
    background: none;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ui-font-family);
}

#mimir-menubar > button:hover,
#mimir-menubar > button:focus,
#mimir-menubar .mimir-menubar-option-fore-color-button-container button:hover,
#mimir-menubar .mimir-menubar-option-fore-color-button-container button:focus,
#mimir-menubar .mimir-menubar-option-back-color-button-container button:hover,
#mimir-menubar .mimir-menubar-option-back-color-button-container button:focus,
#mimir-menubar .mimir-menubar-option-link-button:hover,
#mimir-menubar .mimir-menubar-option-link-button:focus,
#mimir-menubar .mimir-menubar-option-image-button:hover,
#mimir-menubar .mimir-menubar-option-image-button:focus {
    background: #e0e0e0;
}

#mimir-menubar > select {
    min-height: 30px;
    padding: 5px 35px 5px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: white;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
    font-family: var(--ui-font-family);
}

#mimir-menubar > select:hover,
#mimir-menubar > select:focus {
    background-color: #e0e0e0;
}

#mimir-menubar > .mimir-pressed {
    background: #cee2ff;
}

#mimir-menubar > #mimir-menubar-option-bold { font-weight: bold; }

#mimir-menubar > #mimir-menubar-option-italic { font-style: italic; }

#mimir-menubar > #mimir-menubar-option-underline { text-decoration: underline; }

#mimir-menubar > #mimir-menubar-option-strikethrough { text-decoration: line-through; }

#mimir-menubar > #mimir-menubar-option-fore-color .mimir-menubar-option-fore-color-button-container,
#mimir-menubar > #mimir-menubar-option-back-color .mimir-menubar-option-back-color-button-container {
    display: flex;
}

#mimir-menubar > #mimir-menubar-option-fore-color > .mimir-menubar-option-fore-color-button-container > .mimir-menubar-option-fore-color-button,
#mimir-menubar > #mimir-menubar-option-back-color > .mimir-menubar-option-back-color-button-container > .mimir-menubar-option-back-color-button {
    text-decoration: underline;
}

#mimir-menubar > #mimir-menubar-option-fore-color > .mimir-menubar-option-fore-color-button-container > .mimir-menubar-option-fore-color-button,
#mimir-menubar > #mimir-menubar-option-back-color > .mimir-menubar-option-back-color-button-container > .mimir-menubar-option-back-color-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#mimir-menubar > #mimir-menubar-option-fore-color > .mimir-menubar-option-fore-color-button-container > .mimir-dropdown-button > .mimir-color-picker-button,
#mimir-menubar > #mimir-menubar-option-back-color > .mimir-menubar-option-back-color-button-container > .mimir-dropdown-button > .mimir-color-picker-button {
    min-width: 10px;
    width: 10px;
    font-size: 10px;
    text-align: center;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}