/* Custom UI. */

/* Action buttons and general UI. */
.mimir-action-button-primary {
    background-color: #cee2ff;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid silver;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ui-font-family);
}

.mimir-action-button-primary:hover {
    background-color: #a8cbff;
}

.mimir-action-button-secondary {
    background-color: #e0e0e0;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid silver;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ui-font-family);
}

.mimir-action-button-secondary:hover {
    background-color: #d3d3d3;
}

.mimir-modal-label {
    margin: 0px;
    font-weight: normal;
}

.mimir-modal-row {
    display: flex;
    gap: 10px;
}

.mimir-modal-input {
    border: 1px solid silver;
    font-family: var(--ui-font-family);
    border-radius: 3px;
    background-color: white;
    padding: 2px;
    padding-left: 3px;
}

/* Dropdown. */
.mimir-dropdown {
    position: relative;
}

.mimir-dropdown-body {
    position: absolute;
    background-color: white;
    border: 1px solid silver;
    border-radius: 2px;
    z-index: 2;
    padding: 10px;
    display: none;
    box-shadow: 0px 10px 30px 10px rgba(140, 150, 160, 0.15);
    font-family: var(--ui-font-family);
}

.mimir-dropdown-show {
    display: block;
}

/* List dropdown. */
.mimir-dropdown-list > .mimir-dropdown-body {
    padding-left: 0px;
    padding-right: 0px;
    font-family: var(--ui-font-family);
}

.mimir-dropdown-list-open-button {
    height: 30px;
    padding: 5px 30px 5px 5px;
    border: none;
    border-radius: 5px;
    background-color: white;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
    width: 100%;
    font-family: var(--ui-font-family);
}

.mimir-dropdown-list-open-button div {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
}

.mimir-dropdown-list-open-button:hover,
.mimir-dropdown-list-open-button:focus {
    background-color: #e0e0e0;
}

.mimir-dropdown-list-options {
    width: max-content;
}

.mimir-dropdown-list-options button {
    min-height: 30px;
    border: none;
    padding: 5px 12px 5px 12px;
    background-color: white;
    width: 100%;
    font-family: var(--ui-font-family);
    text-align: left;
}

.mimir-dropdown-list-options button:hover,
.mimir-dropdown-list-options button:focus {
    background-color: #e0e0e0;
}

/* Number input. */
.mimir-number-input {
    background-color: #f7f7f7;
    border-radius: 5px;
}

.mimir-number-input :first-child {
    border-radius: 5px 0 0 5px;
}

.mimir-number-input :last-child {
    border-radius: 0 5px 5px 0;
}

.mimir-number-input-input[type="number"] {
    background-color: #f7f7f7;
    border: none;
    outline: none;
    height: 100%;
    padding: 0;
    font-family: var(--ui-font-family);
}

.mimir-number-input-input[type="number"]:focus,
.mimir-number-input-input[type="number"]:hover {
    background: #e0e0e0;
    border: none;
    outline: none;
}

.mimir-number-input-input[type="number"]::-webkit-inner-spin-button,
.mimir-number-input-input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mimir-number-input-input[type="number"] {
    -moz-appearance: textfield;
    background-color: #f7f7f7;
}

.mimir-number-input-button {
    min-width: 20px;
    min-height: 30px;
    background: none;
    border: none;
    font-family: var(--ui-font-family);
}

.mimir-number-input-button:hover {
    background: #e0e0e0;
}

/* Color input. */
.mimir-color-picker-row {
    display: flex;
    gap: 10px;
}

.mimir-color-picker-row + .mimir-color-picker-row {
    margin-top: 10px;
}

.mimir-color-picker-primary-container {
    position: relative;
    user-select: none;
}

.mimir-color-picker-primary-canvas {
    user-select: none;
}

.mimir-color-picker-primary-thumb {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 0;
    border: 1px solid black;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
}

.mimir-color-picker-hue-container {
    position: relative;
}

.mimir-color-picker-hue-slider {
    position: absolute;
    width: 100%;
    height: 0px;
    z-index: 0;
    border: 1px solid black;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
    box-sizing: border-box;
}

.mimir-color-picker-rgb-form-input-container {
    width: 80px;
    display: flex;
    gap: 3px;
}

.mimir-color-picker-rgb-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mimir-color-picker-rgb-form-color {
    width: 100%;
    flex-grow: 1;
    border: 1px solid black;
    box-sizing: border-box;
}

.mimir-color-picker-rgb-form-input-label {
    display: block;
    width: 15px;
    display: flex;
    align-items: center;
    font-family: var(--ui-font-family);
}

.mimir-color-picker-rgb-form-input-container > input {
    display: block;
    flex-grow: 1;
    height: 20px;
    border: 1px solid silver;
    font-family: var(--ui-font-family);
    width: 100%;
    border-radius: 3px;
    background-color: white;
    padding: 2px;
    padding-left: 3px;
}

.mimir-color-picker-rgb-form-input-container > input[type="number"]::-webkit-inner-spin-button,
.mimir-color-picker-rgb-form-input-container > input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mimir-color-picker-rgb-form-input-container > input[type="number"] {
    -moz-appearance: textfield;
    background-color: #f7f7f7;
    font-family: var(--ui-font-family);
}

/* Link and image insert UIs. */
.mimir-link-input-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mimir-image-input-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Image editing UI. */
#mimir-image-editing-ui > .resize-box {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #408cff;
    display: none;
    z-index: 5;
}

#mimir-image-editing-ui > .resize-box-top-right {
    cursor: nesw-resize;
}

#mimir-image-editing-ui > .resize-box-top-left {
    cursor: nwse-resize;
}

#mimir-image-editing-ui > .resize-box-bottom-right {
    cursor: nwse-resize;
}

#mimir-image-editing-ui > .resize-box-bottom-left {
    cursor: nesw-resize;
}

#mimir-image-editing-ui > .resize-bar {
    position: absolute;
    background-color: #70a9ff;
    display: none;
}

#mimir-image-editing-ui > .resize-bar-horizontal {
    height: 3px;
}

#mimir-image-editing-ui > .resize-bar-vertical {
    width: 3px;
}

#mimir-image-editing-ui > .resize-bar-top {
    cursor: ns-resize;
}

#mimir-image-editing-ui > .resize-bar-bottom {
    cursor: ns-resize;
}

#mimir-image-editing-ui > .resize-bar-right {
    cursor: ew-resize;
}

#mimir-image-editing-ui > .resize-bar-left {
    cursor: ew-resize;
}

#mimir-body img.mimir-hide-selection::selection {
    background: none;
}

#mimir-body img.mimir-hide-selection::-moz-selection {
    background: none;
}

/* Find and replace UI. */
#mimir-find-and-replace-ui {
    display: none;
    z-index: 5;
    position: absolute;
    padding: 7px;
    box-shadow: 0px 10px 30px 10px rgba(140, 150, 160, 0.15);
    background-color: white;
    border: 1px solid silver;
    border-radius: 2px;

    --ui-font-family: Segoe UI, Arial, Helvetica, sans-serif;
}

.mimir-find-and-replace-toggle-case-sensitive-button {
    min-width: 30px;
    min-height: 30px;
    background: none;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ui-font-family);
}

.mimir-find-and-replace-toggle-case-sensitive-button:hover {
    background: #e0e0e0;
}

.mimir-find-and-replace-toggle-case-sensitive-button.mimir-toggled {
    background: #cee2ff;
}

.mimir-find-and-replace-find-input {
    flex-grow: 1;
}

.mimir-find-and-replace-replace-input {
    flex-grow: 1;
}

#mimir-body .mimir-find-and-replace-match {
    background-color: yellow;
}

#mimir-body .mimir-find-and-replace-current {
    background-color: orange;
}